
  .wrapper a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 46px;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    border: 3px solid turquoise;
    color: turquoise;
    font-size: 20px;
    font-family: arial;
    position: relative;
    overflow: hidden;
    background: transparent;
    text-transform: uppercase;
    transition: all .35s;
  }
  
  .wrapper a:before,
  .wrapper a:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: turquoise;
    z-index: -1;
    transition: all .35s;
  }
  
  .wrapper a:before{
    opacity: .5;
  }
  
  .wrapper a:after{
    transition-delay: .2s;
  }
  
  .wrapper a:hover{
    color: black;
    text-decoration: solid;
  }
  
  .wrapper a:hover:before,
  .wrapper a:hover:after{
    top: 0;
  }